.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--_cluster-space, 0.875rem);
  justify-content: flex-start;
  align-items: center;

  /* data-split - isso é um modifier do cluster, que empurra os elementos para o lado oposto do parent */
  [split-left] { margin-left: auto; }
  [split-right] { margin-right: auto; }
}

/* ========================================
   Data Attribute Controls for Spacing
   ======================================== */

/* Cluster spacing */
.cluster[data-space="3xs"] { --_cluster-space: 0.25rem; }
.cluster[data-space="2xs"] { --_cluster-space: 0.375rem; }
.cluster[data-space="xs"] { --_cluster-space: 0.6875rem; }
.cluster[data-space="s"] { --_cluster-space: 0.875rem; }
.cluster[data-space="m"] { --_cluster-space: 1.3125rem; }
.cluster[data-space="l"] { --_cluster-space: 1.75rem; }
.cluster[data-space="xl"] { --_cluster-space: 2.625rem; }
.cluster[data-space="2xl"] { --_cluster-space: 3.5rem; }
.cluster[data-space="3xl"] { --_cluster-space: 5.25rem; }
